
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style='cursor:pointer' *ngIf="!dbService.loggedInUser" (click)="login()">Log In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style='cursor:pointer'  *ngIf="!dbService.loggedInUser" (click)="register()">Register</a>
</li>
<li class="nav-item">
      <a class="nav-link" style='cursor:pointer'  *ngIf="dbService.loggedInUser" (click)="logout()" >Log Out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style='cursor:pointer'  *ngIf="dbService.loggedInUser"  routerLink="/account">Account</a>
  </li>
  </ul>
</nav>

