<div class="col-md-6" style="margin:3rem">
  <div >
    <span><h3   id="welcome" name="welcome">Welcome {{[controllerService.currentSiteMember.name]}}!</h3></span>

  </div>
  <!-- <form id="memberdetailform" name="memberdetailform" class="container-fluid" (ngSubmit)="submit()" novalidate>
   <div class="form-group">
      <label for="id">Id</label>
      <input type="number" class="form-control" name="id" id="id" [(ngModel)]="member.id" >
    </div>

    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="usernname" name="username" [(ngModel)]="member.username" readonly >
    </div>
    <div class="form-group">
      <label for="name"> Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="member.name" readonly >
    </div>


  <div class="form-group">
          <button type="text"  name="submitbutton" id="submitbutton"   class="btn btn-primary" >Submit</button>
  </div>
</form> -->

  </div>



