<div class="col-md-6" style="margin:3rem">
  <form id="groupdetailform" name="groupdetailform" class="container-fluid" (ngSubmit)="submit()" novalidate>
    <!-- <div class="form-group">
      <label for="id">Id</label>
      <input type="number" class="form-control" name="id" id="id" [(ngModel)]="group.id" >
    </div> -->
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" name="name" name="name" [(ngModel)]="group.name" >
    </div>

    <!-- <div class="form-group">
      <label for="type">type</label>
      <input type="text" class="form-control" name="type" type="type" [(ngModel)]="group.type" >
    </div> -->

    <div class="form-group">
      <label for="type">type</label>
      <select class="form-control" id="type" name="type" [(ngModel)]="group.type">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="parent">parent</label>
      <select class="form-control" id="parent" name="parent" [(ngModel)]="group.parent">
        <option *ngFor="let parent of parents" [value]="parent">{{parent}}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="members">members</label>
      <select class="form-control" id="members" name="members" [(ngModel)]="group.members" multiple>
        <option *ngFor="let member of members" [value]="member">{{member}}</option>
      </select>
    </div>

  <div class="form-group">
          <button type="text"  name="submitbutton" id="submitbutton"   class="btn btn-primary" >Submit</button>
        </div>
</form>

  </div>



