<div class="col-md-6" style="margin:3rem">
  <form id="loginform" name="loginform" class="container-fluid"   novalidate>
    <div class="form-group">
      <em><strong>UAT Access: </strong>username: super, password: super1</em>
    </div>
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Enter user name" [(ngModel)]="username" >
    </div>
  <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password"  [(ngModel)]="password" >
      </div>
      <div class="form-group">
          <button type="text"  name="submitbutton" id="submitbutton" (click)="login()"  class="btn btn-primary" >Submit</button>
        </div>
        <div class="form-group" *ngIf="showError">
            <p name="form-notice" id="form-notice" style="color:red">login failed</p>
        </div>
    </form>
    <div>{{loginResult}}</div>
  </div>



